.canvas {
    background: #ccc;
    border: 10px solid black;
    box-sizing: border-box;
    display: flex;
    height: 400px;
    width: 100%;

    transition: all 1s;
}
.canvas:hover {
    background: #222;
}

.square {
    background: #f00;
    border: 3px solid #00f;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 200px;

    transition: all 5s ease-in-out 1s;
}
.square:hover {
    background: #008b00;
    border: 30px solid #ff0;
    border-radius: 50%;
    color: #ddd;
    font-size: 100px;
    height: 350px;
    width: calc(100% - 20px);
}

.mobile-page {
    border: 1px solid black;
    display: flex;
    height: 627px;
    overflow: hidden;
    width: 375px;
}
.mobile-page-nav {
    background: #404040;
    color: #fff;
    flex: 0 0 0;
    font-size: larger;
    overflow: hidden;

    transition: flex-basis 500ms;
}
.mobile-page.active .mobile-page-nav {
    flex-basis: 200px;
}
.mobile-page-content {
    background: #fff;
	box-sizing: border-box;
    flex: 0 0 100%;
	padding: 15px;
}
