.input-group {
	margin-top: 10px;
}
.main-label {
	display: inline-block;
	width: 125px;
}
.input-text:required {
	border: 2px solid black;
}
.input-text:optional {
	border: 1px solid silver;
}
.form-submitted .input-text:valid {
	background: #ccff90;
}
.form-submitted .input-text:invalid {
	background: #ff8a80;
}
.areacode,
.prefix {
	width: 25px;
}
.line {
	width: 35px;
}
