.collection {
    align-items: flex-end;
    background: #00a8f2;
    border-radius: 5px;
    display: flex;
    height: 400px;
    justify-content: space-between;
    padding: 10px;
}
.item {
    background: #00cc52;
    border: 1px solid #222;
    border-radius: 5px;
    color: #000;
    font-size: 48px;
    padding: 10px;
    text-align: center;
}
.item-1 {
    order: 2;
}
.item-2 {
    order: 3;
    align-self: stretch;
}
.item-3 {
    order: 1;
}
.item-4 {
    order: 0;
}
